<%= flash[:notice] %>
<%= flash[:alert] %>

<% provide :title, "New Comment" %>

<h3><%= yield :title %></h3>

<% if @comment.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.label :message %>
  <%= f.text_field :text %>
  <%= f.submit %>
<% end %>