<h1>Hacker Lab News</h1>

<h4>A user-contributed Posting site</h4>

<table class="table">
  <tr>
    <td><b>Headline</b></td>
    <td><b>Posted At</b></td>
    <td></td>
    <td></td>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to "#{post.headline}", post.source_url %></td>
      <td><%= post.created_at.localtime.strftime("%x %I:%M %p") %></td>
      <td><%= link_to 'Up Vote', post, :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add Post', new_post_path, :class => 'btn btn-primary' %></p>